
.slides {

  width: 100%;
  height: 100vh;
  background-image: url("https://bit.ly/3Jc0obs");  background-size: 100% 100%;
  animation: ChangeImage 20s linear infinite;

}

@keyframes ChangeImage {
  0% {
    background-image: url("Assets/bg2.jpg");
  }
  30% {
    background-image: url("Assets/bg3.jpg");
  }
  60% {
    background-image: url("Assets/bg4.jpg");
  }
  100% {
    background-image: url("https://bit.ly/3Jc0obs");
  }

}


/* TrackSuit BackGround Images */


.trkslide {

  width: 100%;
  height: 100vh;
  background-image: url("Assets/trk1.jpg");
  background-size: 100% 100%;
  animation: ChangeTRkImage 20s linear infinite;

}

@keyframes ChangeTRkImage {
  0% {
    background-image: url("Assets/trk2.jpg");
  }
  30% {
    background-image: url("Assets/trk3.jpg");
  }
  60% {
    background-image: url("Assets/trk4.jpg");
  }
  100% {
    background-image: url("Assets/trk1.jpg");
  }

}



/* Hoodie Slide Bar  */

.hodSlide {

  width: 100%;
  height: 100vh;
  background-image: url("Assets/hod.jpg");
  background-size: 100% 100%;
  animation: ChangeHoodieImage 30s linear infinite;

}

@keyframes ChangeHoodieImage {
  0% {
    background-image: url("Assets/hod2.jpg");
  }
  30% {
    background-image: url("Assets/hod3.jpg");
  }
  60% {
    background-image: url("Assets/hod4.jpg");
  }
  100% {
    background-image: url("Assets/hod.jpg");
  }

}

/* Casual Dynamic Side */


.cauSlide {

width: 100%;
height: 100vh;
background-image: url("Assets/men1.jpg");
background-size: 100% 100%;
animation: ChangeCauImage 20s linear infinite;

}

@keyframes ChangeCauImage {
0% {
  background-image: url("Assets/men3.jpg");
}
30% {
  background-image: url("Assets/men2.jpg");
}
60% {
  background-image: url("Assets/men3.jpg");
}
100% {
  background-image: url("Assets/men1.jpg");
}

}





.fSlide{
  width: 100%;
  height: 100vh;
  background-image: url("Assets/back.jpg");
  background-size: 100% 100%;
  animation: fSlide 20s linear infinite;

}
